body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  display: inline;
}
.jumbotron-header{
  background-image: url("https://raw.githubusercontent.com/hendronicus/hendronicus.github.io/master/assets/images/bg.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display:flex
}

.middle {
  height: 100%;
  width: 100%;
  display: flex;
}

.bottom {
  height: 100%;
  width: 100%;
  display: flex;
}